<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uttter | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyle.css') }}">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="one-half left">
            <h1>Media Player</h1>
            <a href="mediaList.html" class="cta">Let's Go</a>
        </div>
        <div class="one-half right">
            <h1>Video Player</h1>
            <a href="video.html" class="cta">Let's Go</a>
        </div>
    </div>
    <form action="hand_gesture" class="handgesture__box" method="get">
        <button class="handgesture__button" type="submit"><i class="fas fa-video"></i></button>
    </form>
    <script src="{{ url_for('static', filename='homeScript.js') }}"></script>
</body>

</html>