<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media List</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mediaStyle.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
</head>

<body>
    <div class="media">
        <h3 id="media-search">Play Your Song...</h3>
        <div class="media__box">
            <div class="madia-list">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/music-1.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Harley Bird - Home</h5>

                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/music-2.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ikson Anywhere – Ikson</h5>

                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/music-3.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Beauz & Jvna - Crazy</h5>

                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/music-4.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hardwind - Want Me</h5>

                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/music-5.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jim - Sun Goes Down</h5>

                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/music-6.jpg') }}"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lost Sky - Vision NCS</h5>

                    </div>
                </div>
            </div>

            <div id="player">
                <div class="wrapper">
                    <div class="top-bar">
                        <i class="material-icons">expand_more</i>
                        <span>Now Playing</span>
                        <i class="material-icons">more_horiz</i>
                    </div>
                    <div class="img-area">
                        <img src="{{ url_for('static', filename='images/music-1') }}" alt="">
                    </div>
                    <div class="song-details">
                        <p class="name"></p>
                        <p class="artist"></p>
                    </div>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <audio id="main-audio" src="{{ url_for('static', filename='songs/music-1') }}"></audio>
                        </div>
                        <div class="song-timer">
                            <span class="current-time">0:00</span>
                            <span class="max-duration">0:00</span>
                        </div>
                    </div>
                    <div class="controls">
                        <i id="repeat-plist" class="material-icons" title="Playlist looped">repeat</i>
                        <i id="prev" class="material-icons">skip_previous</i>
                        <div class="play-pause">
                            <i class="material-icons play" accesskey="c">play_arrow</i>
                        </div>
                        <i id="next" class="material-icons">skip_next</i>
                        <i id="more-music" class="material-icons">queue_music</i>
                    </div>
                    <div class="music-list">
                        <div class="header">
                            <div class="row">
                                <i class="list material-icons">queue_music</i>
                                <span>Music list</span>
                            </div>
                            <i id="close" class="material-icons">close</i>
                        </div>
                        <ul>
                            <!-- here li list are coming from js -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="hand_gesture" class="handgesture__box" method="get">
        <button class="handgesture__button" type="submit"><i class="fas fa-video"></i></button>
    </form>

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mediaScript.js') }}"></script>
</body>

</html>